

.container {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  gap: var(--control-gap);
  margin: 20px;

  h1 {
    font-size: var(--h1-font-size);
  }
  h2 {
    font-size: var(--h2-font-size);
  }
}


/* ===== Button Styles ===== */
.custom-button {
  font-size: var(--control-font-size);
  padding: var(--btn-padding-vertical) var(--btn-padding-horizontal);
  background-color: var(--btn-bg);
  border-radius: var(--btn-border-radius);
  box-shadow: var(--btn-shadow);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  display: block;
}

.custom-button:hover {
  opacity: 0.8;
}
