
.container {
  display: flex;
  flex-direction: column;
  gap: var(--control-gap);
  margin: 20px;
}

/* ===== Button Styles ===== */
.custom-button {
  display: block;
  font-family: var(--btn-font);
  font-size: var(--btn-font-size);
  padding: var(--control-padding-vertical) var(--control-padding-horizontal);
  background-color: var(--btn-bg);
  border: none;
  border-radius: var(--btn-border-radius);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow:var(--btn-shadow)
}

.custom-button:hover {
  opacity: 0.8;
}
