/* @import "tailwindcss/index.css"; */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width :100%;
}

#root {
  width: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;

}


.toggle {
  padding: 8px 16px;
  border: 2px solid #c7d2fe;
  background: #e0e7ff;
  color: #3730a3;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  transition: background 0.3s, color 0.3s;
}
.toggle.active {
  background: #4338ca;
  color: white;
  border-color: #4338ca;
}
